services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ics499db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d ics499db"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  web:
    build: 
      context: .
      dockerfile: backend/Dockerfile
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backend/app:/app/app
      - ./frontend:/app/frontend
    ports:
      - "5001:8000"
    environment:
      - DB_NAME=ics499db
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_HOST=db
      - GEMINI_API_KEY=AIzaSyC_9iSq5xKsw5SnlKiAVCp9xundL3HR-xI

    depends_on:
      db:
        condition: service_healthy

volumes:
  pgdata: